<div class="mt-5">
    <div class="p-6 rounded-lg shadow bg-slate-800">
        
    </div>
    
    <div class="p-6 rounded-lg shadow bg-slate-800 font">

    </div>
</div>

@code
{
    [Parameter] public int NodeId { get; set; }
}